.nav {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0 4rem;
  text-decoration: none;
  }
  nav li{
    text-decoration: none;
  }

  .nav ul {
    text-align: left;
    list-style: none;
    display: flex;
    gap: 4rem;
    text-decoration: none;
  }
  
  .nav a:link,
  .nav a:visited {
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  /* CSS Modules feature */
  .nav a:global(.active) {
    color: var(--color-brand--2);
    text-decoration: none;
  }
  
  a.ctaLink:link,
  a.ctaLink:visited {
    background-color: var(--color-brand--2);
    color: var(--color-dark--0);
    padding: 0.8rem 2rem;
    border-radius: 7px;
    text-decoration: none;
  } 
  .navlinknounderline {
    text-decoration: none;
  }